/* 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing-md);
}

h1 {
  padding: 20px;
}

h3 {
  padding: 10px 0px 50px 40px;
}

#todo-form {
  width: 100%;
  max-width: 800px;

  display: flex;
  justify-content: flex-end;
  padding: 0px 30px 0px 0px;
}

#todo-form input {
  flex: 0.9;
  margin-bottom: var(--spacing-sm);
  padding: 30px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

#todo-form input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

#todo-form input::placeholder {
  color: #999;
}

#todo-form button {
  width: 150px;
  font-size: 20px;
  padding: 15px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#todo-form button:hover {
  background-color: #0056b3; /* 더 진한 파란색 */
}
